<!doctype html>
<html>
  <head>
    <title>miTUBE</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/js/jquery-3.3.1.min.js"></script>

    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> --}}

    <link rel="stylesheet" href="css/main.css">

    <style>
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
  </head>

  <body>
    {{!-- <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="/img/youtube.svg" width="30" height="30" class="d-inline-block align-top">
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Mis Listas</a></li>
          <li><a href="#">Usuario</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        
      </div>
    </nav> --}}

    <!-- Image and text -->
    <nav class="navbar fixed-top navbar-light bg-light navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="img/headphones2.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          miTUBE
        </a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="user">Mis listas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
          </ul>
          {{#if logged}}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
          </ul>
          {{else}}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="register"><span class="glyphicon glyphicon-log-in"></span>Register</a></li>
          </ul>
          {{/if}}
      </div>
    </nav>

    {{{body}}}

    {{#if flash}}
      <div class="alert alert-dismissible alert-{{flash.type}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;<button>
        <strong>{{flash.intro}}</strong> {{{flash.message}}}
      </div>
    {{/if}}


  </body>
</html>