<div class="container-fluid">


  <h6><strong>Autorización de usuarios</strong></h6>

  <div class="table-list">
    <table id="miTabla" class="table table-sm table-hover">
      <caption>Tabla de usuarios deshabilitados</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Email</th>
          <th scope="col" class="d-none d-md-table-cell">Nombre</th>
          <th scope="col" class="text-center">Fecha</th>
          <th scope="col" class="text-center">Habilitar</th>
        </tr>
      </thead>
      <tbody>
        {{#each disabledUsers}}
        <tr>
          <th>{{email}}</th>
          <th class="d-none d-md-table-cell">{{username}}</th>
          <th class="text-center">{{created}}</th>
          <th class="text-center">
            <div class="row">
              <div class="col">
                <form action="/admin" method="post">
                  <input type="hidden" name="action" value="auth" />
                  <input type="hidden" name="value" value="OK" />
                  <input type="hidden" name="email" value={{email}} />
                  <button class="btn btn-success btn-sm btn-block btn-square btn-table" type="submit">OK</button>
                </form>
              </div>
              <div class="col">
                <form action="/admin" method="post">
                  <input type="hidden" name="action" value="auth" />
                  <input type="hidden" name="value" value="KO" />
                  <input type="hidden" name="email" value={{email}} />
                  <button class="btn btn-danger btn-sm btn-block btn-square btn-table" type="submit">KO</button>
                </form>
              </div>
            </div>
          </th>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>


  <h6><strong>Trabajos pendientes</strong></h6>

  <div class="table-list">
    <table id="miTabla" class="table table-sm table-hover">
      <caption>Tabla de estado de trabajos</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Email</th>
          <th scope="col" class="text-center">
            <span class="d-lg-none">Pend</span>
            <span class="d-none d-lg-block">Pendiente</span>
          </th>
          <th scope="col" class="text-center">
            <span class="d-lg-none">Err Dwn</span>
            <span class="d-none d-lg-block">Error descarga</span>
          </th>
          <th scope="col" class="text-center">
            <span class="d-lg-none">Err Up</span>
            <span class="d-none d-lg-block">Error subida</span>
          </th>
          <th scope="col" class="text-center">
            <span class="d-lg-none">Err Del</span>
            <span class="d-none d-lg-block">Error borrado</span>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each currentWork}}
        <tr>
          <th>{{email}}</th>
          <th class="text-center">{{sum movements.new movements.upl}}</th>
          <th class="text-center">{{movements.err-dwn}}</th>
          <th class="text-center">{{movements.err-upl}}</th>
          <th class="text-center">{{movements.err-del}}</th>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>


  <div class="card card-admin">
    <div class="card-header color-negro text-white">
      ACTUALIZACIÓN <strong>youtube-dl</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Al pulsar el siguiente botón se actualiza la herramienta que descarga las canciones de YouTube a la última versión (si es que hay una más reciente a la instalada actualmente).</p>
      <form action="/admin" method="post">
        <input type="hidden" name="action" value="update" />
        <button class="btn btn-success btn-sm btn-block btn-square btn-table" type="submit">Lanzar actualización</button>
      </form>
    </div>
  </div>
  

  <div class="card card-admin">
    <div class="card-header color-negro text-white">
      Sincronización de <strong>TODAS LAS LISTAS</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Al pulsar el siguiente botón se revisan todas las listas de la aplicación por si hay algún cambio cogerlo y generar los trabajos para cada usuario.</p>
      <form action="/admin" method="post">
        <input type="hidden" name="action" value="syncAll" />
        <button class="btn btn-success btn-sm btn-block btn-square btn-table" type="submit">Lanzar sincronización</button>
      </form>
    </div>
  </div>

  <!-- Mostrar resultados en tabla -->
  {{!-- TODO:

  * Poner un botón selector a la izquierda, y uno para seleccionar a todos. Y tener un botón de relanzamiento de
  trabajos.

  * Poder solicitar actualizaciones de todos, de usuarios o de listas.


  * Tener algún tipo de estadísticas de movimiento por usuarios. Subida, creación de listas.
  --}}
</div>