<div class="col-lg-12">

  <div class="contenedor-list">

    <button onclick="topFunction()" id="myBtn" title="Go to top" class="btn btn-dark btn-sm btn-square color-negro">
      <img src="img/arrow-up.svg" width="20" height="20" class="d-inline-block icono" alt="">
      <strong>Subir</strong>
    </button>


    <div class="text-right mt-3">
      <a href="user" class="link">
        
        <button class="btn btn-outline-dark btn-sm btn-square">
          <img src="img/arrow-left.svg" width="20" height="20" class="d-inline-block" alt="">
          Volver a mis listas
        </button>
      </a>
    </div>


    <div class="card text-white bg-dark card-listDetails mt-1">
      <div class="card-header text-center bold color-negro"><h4><strong>{{name}}</strong></h4></div>
      <div class="card-body color-negro">
        <div class="row justify-content-between">
          <span class="col-12">
            <strong>Lista en Youtube: </strong><span>{{nameYT}}<a href="https://www.youtube.com/playlist?list={{listId}}" target="_blank" class="indicador"><img src="img/youtube-red.svg" width="15" height="15" alt="" style="margin-left: 3px; background-color: white; padding: 1px;"></a></span>
          </span>

          <div class="col-4 btn-group">
            <button id="listImage" type="button" class="btn btn-default dropdown-toggle color-negro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src={{imageId}} width="75" height="75" class="img-thumbnail">
            </button>            
            <ul id="listImageMenu" class="dropdown-menu text-center">
              <li class="dropdown-header">Elige imagen</li>
              {{#each covers}}
              <li>
                <a href="#" title="Selecciona esta imagen"><img src="img/covers/thumbnail/thumbnail-{{this}}" width="100" height="100"></a>
              </li>
              {{/each}}
            </ul>
          </div>

          <div class="col-8">
            <div class="row justify-content-between">
              <span class="col-12 align-self-end card-text text-right"><strong>#Canciones: </strong>{{numSongs}}</span>
              <span class="col-12 card-text text-right"><strong>#Pendientes: </strong><span id="numWorksId" class="indicador">{{numWorks}}</span></span>
              <span class="col-12 align-self-end card-text text-right"><strong>Incorporada: </strong><em>{{created}}</em></span>
              <span class="col-12 align-self-end card-text text-right"><strong>Modificada: </strong><em>{{modified}}</em></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  

    {{!-- Con un if que sea activado o desactivado en función de lo recibido. ¿O hacerlo en JS para poder activarlo o desactivarlo sin recargar página? --}}
    <div class="justify-content-center text-center mt-1">
      <form action="/list" method="post">
        <input type="hidden" name="action" value="syncToogle" />
        <input type="hidden" name="listId" value="{{listId}}" />
        {{#if sync}}
        <input type="hidden" name="sync" value="false" />
        <button class="btn btn-outline-dark btn-sm btn-square btn-block" type="submit">
          <img src="img/refresh-button.svg" width="20" height="20" class="d-inline-block" alt="">
          <strong>Sincronización <span style="color:#28a745;">Activada</span></strong>
        </button>
        {{else}}
        <input type="hidden" name="sync" value="true" />
        <button class="btn btn-outline-dark btn-sm btn-square btn-block" type="submit">
          <img src="img/refresh-button.svg" width="20" height="20" class="d-inline-block" alt="">
          <strong>Sincronización <span style="color:#dc3545;">Desactivada</span></strong>
        </button>
        {{/if}}
      </form>
    </div>


    <!-- Mostrar resultados en tabla -->
    <div class="table-list mt-1">
      <table id="miTabla" class="table table-sm table-hover">
        <caption>Tabla de canciones en la lista</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="width: 70%">
              <span class="d-sm-none">Canciones</span>
              <span class="d-none d-sm-block">Nombre</span>
            </th>
            <th scope="col" class="d-none d-md-table-cell" style="width: 15%">Identificador</th>
            <th scope="col" class="text-right d-none d-sm-table-cell col-3" style="width: 15%">Fecha</th>
          </tr>
        </thead>
        <tbody>
          {{#each songs}}
          <tr>
            <td>
              <span class="d-none d-sm-block">{{originalName}}</span>
              <div class="d-sm-none row justify-content-between">
                <span class="col-12">{{originalName}}</span>
                <div class="col-1"><a href="https://www.youtube.com/watch?v={{songId}}" target="_blank" class="indicador"><img src="img/youtube-red.svg" width="15" height="15" class="d-inline-block" alt=""></a></div>
                <span class="col-6 ml-auto text-right" style="font-size: 0.8rem;">
                  {{#has state "err"}} 
                  <div class="block-red d-inline-block" style="margin-right: 3px;" data-toggle="tooltip" data-placement="left" title="En error"></div> 
                  {{else}}
                    {{#is state "del"}}
                  <div class="block-black d-inline-block" style="margin-right: 3px;" data-toggle="tooltip" data-placement="left" title="Pendiente Eliminar" ></div>     
                    {{else}}
                      {{#if state}}
                  <div class="block-orange d-inline-block" style="margin-right: 3px;" data-toggle="tooltip" data-placement="left" title="Pendiente Subir"></div>
                      {{/if}}
                    {{/is}}
                  {{/has}}                  
                  <em>{{added}}</em>
                </span>
              </div>
            </td>
            <td class="d-none d-md-table-cell"><a href="https://www.youtube.com/watch?v={{songId}}" target="_blank">{{songId}}</a></td>
            <td class="text-right d-none d-sm-table-cell">{{added}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</div>

{{!-- JAVASCRIPT --}}
<script>

  //Go to top button
  ///////////////////////////////////////////////////////
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("myBtn").style.display = "block";
    } else {
      document.getElementById("myBtn").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
  ///////////////////////////////////////////////////////

  //TODO: No tengo que hacerlo con numWorks sino que debería ver si tengo canciones con estados distintos a OK.En ese caso o trabajando si hay algo pendiente o en error si ya no hay nada pendiente y tengo errores
  const indicador = document.getElementById("numWorksId");

  if ({{numWorks}} == 0)
    indicador.style.backgroundColor = "#28a745";
  else
    indicador.style.backgroundColor = "#f38609";  

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
  });


  //Para hacer funcionar el dropdown va a tocar adaptar este código
  const listImage = document.getElementById("listImage");
  const listImageMenu = document.getElementById("listImageMenu");

  listImageMenu.addEventListener("click", function(elem) {
    const selectedImage = elem.srcElement.attributes[0].value.replace("thumbnail/thumbnail-", "");

    //Aquí deberíamos hacer la petición al servidor para modificar la imagen
    fetch('list', {
      method: 'post',
      body: 'action=setImage&listId={{listId}}&listName={{name}}&songId={{songs.[1].songId}}&imageId='+selectedImage,
      headers: { 'Content-type': 'application/x-www-form-urlencoded' }
    })
    .then(response => {
      if (response.ok) {
        return response.json();
      } else {
        return Promise.reject({
          status: response.status,
          statusText: response.statusText
        });
      }
    })
    .then(data => {
      if(data.success=true){
        listImage.firstElementChild.classList.add("dropdown-toogle-ok");
        setTimeout(function() {
          listImage.firstElementChild.classList.remove("dropdown-toogle-ok");
        }, 1500);
      }
    })
    .catch(error => console.log('Error is ', error));

    //Cambiamos la imagen que se muestra en la web
    listImage.firstElementChild.src = selectedImage;
  });

</script>