<div class="col-lg-12">

  <div class="contenedor-list">

    <form action="user" class="boton-atrasLista mt-5">
      <div class="text-right">
  	    <input type="submit" class="btn btn-dark btn-sm btn-square color-negro" value="Volver a mis listas" />
      </div>
    </form>

    <div class="card text-white bg-dark mb-3 card-listDetails mt-1">
      <div class="card-header text-center bold color-negro"><h4><strong>{{name}}</strong></h4></div>
      <div class="card-body color-negro">
        <div class="row justify-content-between">
          <span class="col-12"><strong>Nombre lista Youtube: </strong><a href="https://www.youtube.com/playlist?list={{listId}}"
              target="_blank">{{nameYT}}</a></span>
          <span class="col-12 ml-auto card-text text-right"><strong>#Canciones: </strong>{{numSongs}}</span>
        {{!-- </div>
        <div class="row justify-content-end"> --}}
          <span class="col-12 ml-auto card-text text-right"><strong>#Pendientes: </strong><span id="numWorksId" class="indicador">{{numWorks}}</span></span>
        </div>
        <div class="row justify-content-end">
          <span class="col align-self-end card-text text-right"><strong>Incorporada: </strong><em>{{created}}</em></span>
        </div>
        <div class="row justify-content-end">
          <span class="col align-self-end card-text text-right"><strong>Modificada: </strong><em>{{modified}}</em></span>
        </div>
        {{!-- Con un if que sea activado o desactivado en función de lo recibido. ¿O hacerlo en JS para poder activarlo
        o desactivarlo sin recargar página? --}}
        <div class="row justify-content-center text-center">
          <form action="/list" method="post">
            <input type="hidden" name="action" value="syncToogle" />
            <input type="hidden" name="listId" value="{{listId}}" />
            {{#if sync}}
            <input type="hidden" name="sync" value="false" />
            <button class="btn btn-success btn-sm btn-square text-center" type="submit">Sincronización Activada</button>
            {{else}}
            <input type="hidden" name="sync" value="true" />
            <button class="btn btn-danger btn-sm btn-square text-center" type="submit">Sincronización Desactivada</button>
            {{/if}}
          </form>
        </div>
      </div>
    </div>


    <!-- Mostrar resultados en tabla -->
    <div class="table-list">
      <table id="miTabla" class="table table-sm table-hover">
        <caption>Tabla de canciones de una lista</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="width: 70%">
              <span class="d-sm-none">Canción</span>
              <span class="d-none d-sm-block">Nombre</span>
            </th>
            <th scope="col" class="d-none d-md-table-cell" style="width: 15%">Identificador</th>
            <th scope="col" class="text-right d-none d-sm-table-cell col-3" style="width: 15%">Fecha</th>
          </tr>
        </thead>
        <tbody>
          {{#each songs}}
          <tr>
            <th>
              <span class="d-none d-sm-block">{{originalName}}</span>
              <div class="d-sm-none row justify-content-between">
                <span class="col-12">{{originalName}}</span>
                <span class="col-1"><a href="https://www.youtube.com/watch?v={{songId}}" target="_blank" class="indicador" style="background-color: red; color:white;">YT</a></span>
                <span class="col-6 ml-auto text-right" style="font-size: 0.8rem;"><em>{{added}}</em></span>
              </div>
            </th>
            <th class="d-none d-md-table-cell"><a href="https://www.youtube.com/watch?v={{songId}}" target="_blank">{{songId}}</a></th>
            <th class="text-right d-none d-sm-table-cell">{{added}}</th>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </table>

  </div>
</div>

{{!-- JAVASCRIPT --}}
<script>
  const indicador = document.getElementById("numWorksId");

  if ({{numWorks}} == 0)
    indicador.style.backgroundColor = "#28a745";
  else
    indicador.style.backgroundColor = "#f38609";  

</script>