<div class="container-fluid">

  <div class="contenedor-list">
    <h3>Mis listas</h3>

    <div class="card border-dark bg-light card-nuevaLista">
      <div class="card-header color-negro text-white"><strong>¿Tienes una lista nueva?</strong></div>
      <div class="card-body text-secondary">
        <form action="/user" method="POST">
          <div class="form-row align-items-center form-list">
            <input type="hidden" name="action" value="newList" />
            <div class="col-12 col-sm-5">
              <input type="text" id="fieldName" name="name" class="form-control form-control-sm" placeholder="Nombre de lista"
                required>
            </div>
            <div class="col-12 col-sm-5">
              <input type="text" id="fieldURL" name="url" class="form-control form-control-sm" placeholder="URL de Youtube"
                required>
            </div>
            <div class="col-sm-2 col-4 ml-auto">
              <button class="btn btn-sm btn-dark btn-square btn-block color-negro" type="submit"><strong>Aceptar</strong></button>
            </div>
          </div>
        </form>
        {{#if alert}}
        <div id="alertNewList" class="alert alert-danger" role="alert" style="margin: 5px;">
          {{alert}}
        </div>
        {{/if}}
        {{#if success}}
        <div id="alertNewList" class="alert alert-success" role="alert" style="margin: 5px;">
          {{success}}
        </div>
        {{/if}}
      </div>
    </div>

    <div id ="divUpdateUser" class="boton-actListas">
        <button id="btnUpdateUser" class="btn btn-outline-dark btn-sm btn-square btn-block"><strong>Actualizar todas tus listas</strong></button>
        <div id="alertUpdateUser" class="alert alert-success text-center" role="alert" style="margin: 5px 0px; padding: 0px; display: none">Listas actualizadas</div>  
    </div>

    <!-- Mostrar resultados en tabla -->
    <div class="table-list">
      <table id="miTabla" class="table table-sm table-hover">
        <caption>Tabla de listas sincronizadas</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" class="d-none d-md-table-cell">Identificador</th>
            <th scope="col" class="text-right">Fecha incorporación</th>
            <th scope="col col-1" class="text-center">SYNC</th>
          </tr>
        </thead>
        <tbody>
          {{#each lists}}
          <tr>
            <th><a href="list?listid={{listId}}">{{name}}</a></th>
            <th class="d-none d-md-table-cell">{{listId}}</th>
            <th class="text-right">{{created}}</th>
            <th>
              <div class={{#if sync}}"block-green" {{else}}"block-red" {{/if}}> </div>
            </th>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</div>


{{!-- JAVASCRIPT --}}
<script>

  const alertNewList = document.getElementById("alertNewList");
  const fieldName = document.getElementById("fieldName");
  const fieldURL = document.getElementById("fieldURL");

  if (alertNewList != null) {
    setTimeout(function() {
      alertNewList.style.display = "none";
    }, 5000);

    fieldName.addEventListener("focus", function() {
      alertNewList.style.display = "none";
    });

    fieldURL.addEventListener("focus", function() {
      alertNewList.style.display = "none";
    });
  }

  const buttonUpdateUser = document.getElementById("btnUpdateUser");
  const alertUpdateUser = document.getElementById("alertUpdateUser");

  //TODO: Cuando se pulse tengo que desactivarlo hasta que el fetch me devuelva algo... Para evitar multiples pulsaciones.
  buttonUpdateUser.addEventListener("click", function(){
    //Buena manera de utilizarlo:
    fetch('user', {
      method: 'post',
      body: 'action=updateUser&email={{userdata.email}}',
      headers: { 'Content-type': 'application/x-www-form-urlencoded' }
    })
    .then(response => {
      if (response.ok) {
        return response.json();
      } else {
        return Promise.reject({
          status: response.status,
          statusText: response.statusText
        });
      }
    })
    .then(data => {
      if(data.success=true){
        console.log("exito");
        alertUpdateUser.style.display = "block";
        setTimeout(function() {
          alertUpdateUser.style.display = "none";
        }, 5000);
      }
    })
    .catch(error => console.log('error is', error));
  });



</script>
